body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  overflow-x: hidden;
  width: 100%;
}
.Hotstar {
  position: absolute;
  display: flex;
  width: 100%;
}
.sidebar {
  position: fixed;

  background-color: #000;
  height: 100vh;
  padding: 10px;
  text-align: left;
  margin: 20px 0px 0px 10px;
  width: 5%;
}

.sidebar .logo img {
  width: 50px;
  margin-bottom: 50px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}
.Image {
  width: 20px;
}

.sidebar ul li {
  margin: 40px 0px 0px 15px;
}
.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.main {
  position: relative;
  flex: 1;
  padding: 20px;
  margin-left: 100px;
  width: 95%;
}

.banner {
  position: relative;
}

.banner img {
  border-radius: 10px;
  width: 100%;
}

.banner-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}

.banner-content h1 {
  font-size: 32px;
  margin: 0;
}

.watch-btn {
  background: linear-gradient(to right, #0066ff, #ff00ff);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}
.card-flex {
  display: flex;
}
.card img {
  height: 240px;
  width: 180px;
  margin: 10px;
  border-radius: 2%;
}
.card :hover {
  transform: scale(1.4, 1.4);
  transition-delay: 0.1s;
}

.title-card {
  display: flex;
}

.title-card h2 {
  display: flex;
}
.title-rigth {
  text-align: end;
  display: inline;
  padding: auto;
  margin: 30px 20px 1px 1150px;
  font-size: 10px;
}
.title-left {
  display: inline;
  text-align: start;
  margin-top: 30px;
  font-size: 13px;
}
.studio-flex {
  display: flex;
}
.Studio img {
  height: 150px;
  width: 250px;
  margin: 10px;
  border-radius: 2%;
}
.Studio :hover {
  transform: scale(1.2, 1.2);
}
